@import '../color-palette.scss';
@import '../Header/Header.scss';
@import '../MainEvent/MainEvent.scss';
@import '../fonts.scss';

/* Universal */

body {
  margin: 0 auto;
  padding: 0 0 40px 0;
}

footer {
  background-color: $dark-green;
  color: $white;
  display: flex;
  justify-content: center;
  margin: 25px 0 0 0;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}